
body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

header p {
    font-size: 20px;
}

.score {
    width: 250px;
    
}

.timer {
    width: 250px;
    
}

.main {
    align-items: center;
}

.question {
    font-weight: bold;
    text-align: center;
    font-size: 32px;
}

.instructions {
    text-align: center;
    font-size: 18px;
}

.button {
    padding:5px;
    margin: 10px auto;
    background-color: rgb(83, 175, 170);
    border: 1px solid black;
    color: white;
    border-radius: 12px;
    display: block;
    width: 40%;
}

.submit-button {
    padding:5px;
    background-color: rgb(83, 175, 170);
    border: 1px solid black;
    color: white;
    border-radius: 7px;
    display: block;
    margin: 0 auto;
}

.high-score-list {
    background-color: rgba(37, 37, 37, 0.5);
    color: white;
    padding: 5px;
    margin: 5px;
}

.main {
    width: 80%;
    margin-left: 75px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-input {
    height: 20px;
    padding: 0 0 0 6px;
    background-color: white;
    width: 20%;
    margin-left: 10px;
}

.after-answer {
    color: lightgrey;
    border-top: 2px solid lightgrey;
}

.high-score-div {
    margin-left: 40px;
    display: flex;
}
